[Desktop Entry]
Icon=image-jpeg
Name=2gpxf20fxa74131e5.jpg
Type=Link
URL[$e]=file:///var/www/html/molly/2gpxf20fxa74131e5.jpg
X-KDE-LastOpenedWith=org.kde.konsole
