[Desktop Entry]
Icon=application-x-shellscript
Name=locatedevice.sh
Type=Link
URL[$e]=file:///media/molly/Nouveau volume/git/MollyEskam-Linux/live-build-config/kali-config/common/includes.chroot/root/init/locatedevice.sh
X-KDE-LastOpenedWith=sublime_text
