body {display:block !important;visibility: visible !important;overflow-x:auto}

/* hide loading transition */
#apploadingdiv, #viewsloadingdiv {display: none !important}

:focus {outline:none}

/* hide google bar */
#gb, #nav {display: none !important}

/* float header above for menu/inbox */
#cv__cntbt, #lbttb, #mutbt, #cvtbt, #tltbt {z-index:100;position:fixed}
#tl_, #mn_, #co_, #cv_ {padding-top:44px} /* .Sh changed to .Th then started using wrapper #co_ and then #cv_ */

#cv__cntbt, #lbttb, #mutbt, #cvtbt, #tltbt, /* header */
#cv__cntbb, #lbttb, #mutbb, #cvtbb, #tltbb /* footer */
 {background:white;border:1px solid #ccc}

/* body */
#ad_, #cv_, #er_, #be_, .Hj {xxbackground: #f9f9f9}

/* hide refresh */
[aria-label="Refresh"] > div, [aria-label][onclick="_e(event, 'j')"] > div {opacity:0}

/* action buttons */
/* patch: these 3 changed names essentially the letter's incrmented by one alphabet letter, i.e .Sq became .Tq etc. */
#views > div[style*="translate3d"] {transition: none !important}
#views > div[style*="translate3d"] > div:first-child {box-shadow:none;margin-top:-4px;padding-bottom:0;background-color:transparent;border:none}
#views > div[style*="translate3d"] > div:first-child > div:not(:first-child):not([role="button"]) {top:38px}

#gmailPopupSearch {transition:opacity 0.2s ease-in;opacity:0.2;cursor:pointer}
#gmailPopupSearch:hover {opacity:1}
#gmailPopupSearch img {height:25px;vertical-align:middle}

/* search */
form[role='search'] {display:none}

/* whole footer */
#mutbb {display:none}

/* bottom footer */
#tl_ .Eg .Tg .Dh,
#mn_ .Eg .Tg .Dh,
#co_ .Eg .Tg .Dh,
#cv_ .Eg .Tg .Dh {display:none} /* Used to be .Jh, .Kh , used to be #mn_ .Pg but this started hiding the folders so just removed it altogether */

/* mails */
.zi {cursor:pointer}

/* labels with mail */
.Il, .Jl {cursor:pointer}

/* labels with no emails */
/* increment patch */
.Vl, .Wl {cursor:pointer}

/* reply/forward buttons */
div[role='button'] {cursor:pointer}

/* hide Help in config menu */
/* changed increment patch to using onclick */
a[onclick="_e(event, 'r')"] {display:none}

#tl_ .np .pp {display:none} /* Hide ads in Promotions category */

/* hover buttons when checkboxing emails */
.Ps {opacity:0;pointer-events:none} /* right:50px used to be .vs */
.zc {text-align:left} /* move label title to left so selection text overlap it */

/* show skins background */
#tl_ {background:#f9f9f9dd}
.Qg.Im {background:transparent}
.km {background:transparent}