/* Font variables */
/* Status icons */
/* Colors */
/* Neutral Colors */
/* #888 */
/* #d0d0d0 */
/* Rating Colors */
/* Popup */
/* Hamburger Button & Menu */
/* The ratings we give */
/* Cards */
/* Popover */
/* CSS Arrow */
/* Font variables */
/* Status icons */
/* Colors */
/* Neutral Colors */
/* #888 */
/* #d0d0d0 */
/* Rating Colors */
/* Popup */
/* Hamburger Button & Menu */
/* The ratings we give */
/* Cards */
/* Popover */
/* CSS Arrow */
/* Tracker Network Icons */
/* Logo */
/* App states */
/* Font groupings */
.uppercase {
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold; }

/* Lists */
/* Toggle buttons */
/* Images & icons */
/* Cross-platform background image */
/* Sliding subviews */
/* Generic menu list styling */
.default-list {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 14px;
  margin-top: 0; }
  .default-list li .icon__arrow {
    right: 15px;
    top: 19px; }

/* Generic toggle button styling */
.toggle-button {
  z-index: 0;
  position: absolute;
  right: 14px;
  width: 42px;
  height: 24px;
  margin-top: -3px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: left; }
  .toggle-button .toggle-button__bg {
    z-index: -1;
    position: absolute;
    right: 0;
    width: 42px;
    overflow: visible;
    height: 24px;
    border-radius: 100px; }
  .toggle-button .toggle-button__knob {
    z-index: 2;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #ffffff;
    margin-top: 1.85px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25); }
  .toggle-button.toggle-button--is-active-false .toggle-button__knob {
    margin-left: 0px; }
  .toggle-button.toggle-button--is-active-false .toggle-button__bg {
    background-color: #e9e9eb; }
  .toggle-button.toggle-button--is-active-true .toggle-button__knob {
    margin-left: 20px; }
  .toggle-button.toggle-button--is-active-true .toggle-button__bg {
    background-color: #3fa248; }

.page-container {
  width: 400px;
  margin: 3em auto auto auto;
  position: relative; }
  .page-container p {
    margin-bottom: 10px; }

.ddg-logo {
  background-size: contain;
  width: 158px;
  height: 44px;
  margin-bottom: 23px; }
  .is-browser--chrome .ddg-logo {
    background-image: url("chrome-extension://__MSG_@@extension_id__/img/logo-horizontal@2x.png"); }
  .is-browser--moz .ddg-logo {
    background-image: url("moz-extension://__MSG_@@extension_id__/img/logo-horizontal@2x.png"); }
  .is-browser--safari .ddg-logo {
    background-image: url("../../img/logo-horizontal@2x.png"); }
  .ddg-logo span {
    display: none; }

/* Whitelist */
.options-content__whitelist {
  font-size: 14px;
  font-weight: 600; }
  .options-content__whitelist .menu-title {
    padding-bottom: 4px; }
  .options-content__whitelist .menu-paragraph {
    margin-bottom: 0;
    height: 17px;
    text-align: left;
    color: #888888;
    font-weight: normal; }
  .options-content__whitelist li a {
    display: inline-block;
    max-width: 360px;
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden; }
  .options-content__whitelist li button.remove {
    color: #888888;
    font-size: 22px;
    line-height: 1.2em;
    background: transparent;
    border: none;
    margin: -4px 0 0 0;
    padding: 0; }

.whitelist-url {
  width: 245px;
  height: 36px;
  border-radius: 4px;
  border: solid 1px #ddd;
  padding: 0 10px;
  color: #333333; }
  .is-browser--chrome .whitelist-url::-webkit-input-placeholder {
    width: 63px;
    height: 17px;
    color: #aaaaaa; }
  .is-browser--moz .whitelist-url:-moz-placeholder {
    width: 63px;
    height: 17px;
    color: #aaaaaa; }
  .is-browser--moz .whitelist-url::-moz-placeholder {
    width: 63px;
    height: 17px;
    color: #aaaaaa; }

.whitelist-url.is-invalid-input {
  border: solid 1px #de5833; }

.whitelist-add {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background-color: #4495d4;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  padding-top: 8px;
  margin-left: 7px;
  cursor: pointer; }

.whitelist-add.is-disabled {
  background-color: #f2f2f2;
  color: #aaaaaa;
  cursor: default; }

.whitelist-show-add {
  height: 17px;
  color: #4495d4; }

.options-info {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333; }
