[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/chiaki.desktop]
row=8
col=0

[/root/Desktop/kali-training.desktop]
row=1
col=17

[/root/Desktop/sublime_text.desktop]
row=3
col=0

[/root/Desktop/offsec-training.desktop]
row=0
col=17

[/root/Desktop/bleachbit-root.desktop]
row=8
col=17

[/root/Desktop/exo-terminal-emulator.desktop]
row=1
col=0

[/root/Desktop/update_everything.sh]
row=3
col=6

[/root/Desktop/exo-web-browser.desktop]
row=2
col=0

[1EC83F56C83F2C01]
row=5
col=0

[Trash]
row=4
col=0

[/]
row=0
col=1

[/root]
row=0
col=0

