[Desktop Entry]
Icon=video-mp4
Name=1080P_4000K_393241831.mp4
Type=Link
URL[$e]=file:///media/molly/C2CA41BFCA41B089/Documents and Settings/Admin/Videos/1080P_4000K_393241831.mp4
X-KDE-LastOpenedWith=vlc
