[Desktop Entry]
Icon=application-x-shellscript
Name=build.sh
Type=Link
URL[$e]=file:///media/root/Nouveau volume/git/MollyEskam-Linux/live-build-config/build.sh
X-KDE-LastOpenedWith=sublime_text
