[Desktop Entry]
Icon=application-x-shellscript
Name=locatedevice.sh
Type=Link
URL[$e]=file:$HOME/Desktop/locatedevice.sh
X-KDE-LastOpenedWith=systemsettings
