[Desktop Entry]
Icon=text-x-ms-regedit
Name=s.reg
Type=Link
URL[$e]=file:///media/root/Nouveau volume/git/MollyEskam-Linux/live-build-config/kali-config/common/includes.chroot/root/s.reg
X-KDE-LastOpenedWith=sublime_text
