[Desktop Entry]
Type=Application
Name=Background Rotator
Exec=sh ~/autorotate.sh
Icon=<full path to icon>
Comment=<optinal comments>
X-GNOME-Autostart-enabled=true
