[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/molly/Desktop/chiaki.desktop]
row=5
col=0

[/home/molly/Desktop/gimp.desktop]
row=6
col=0

[/home/molly/Desktop/exo-web-browser.desktop]
row=1
col=0

[/home/molly/Desktop/sublime_text.desktop]
row=3
col=0

[Trash]
row=4
col=0

[/]
row=0
col=1

[/home/molly]
row=0
col=0

