[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/molly/Desktop/Screenshot_2020-08-08_21-24-48.png]
row=3
col=0

[/home/molly/Desktop/Screenshot_2020-08-08_21-25-56.png]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/molly]
row=2
col=0

