[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/kali-training.desktop]
row=1
col=17

[/root/Desktop/update_everything.sh]
row=5
col=0

[/root/Desktop/exo-web-browser.desktop]
row=2
col=0

[/root/Desktop/xfce-text-editor.desktop]
row=3
col=0

[/root/Desktop/offsec-training.desktop]
row=0
col=17

[/root/Desktop/exo-terminal-emulator.desktop]
row=1
col=0

[Trash]
row=4
col=0

[/]
row=0
col=1

[/root]
row=0
col=0

